<!DOCTYPE html>
<html>

<head>
    <title>Northern Ireland Elections Open Data</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />

    <link rel="stylesheet" type="text/css" href="website/css/style.css" media="screen, handheld" />
    <link rel="stylesheet" type="text/css" href="website/css/enhanced.css" media="screen  and (min-width: 50.5em)" />
    <link rel="icon" type="image/png" href="website/image/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="website/image/favicon-16x16.png" sizes="16x16" />

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="startbootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="startbootstrap/font-awesome/css/font-awesome.min.css"> -->

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="http://cdn.rawgit.com/calvinmetcalf/leaflet-ajax/gh-pages/dist/leaflet.ajax.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://use.fontawesome.com/3302049464.js"></script>

    <!-- Vue.js and Vue Router -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <!-- <script src="https://rawgit.com/matfish2/vue-tables/master/dist/vue-tables.min.js"></script> -->
    <script src="vue-paginate.js"></script>
    <script src="papaparse.min.js"></script>
    <!-- <script src="startbootstrap/js/bootstrap.js"></script> -->
    <!--[if (lt IE 9)&(!IEMobile)]>
		<link rel="stylesheet" type="text/css" href="enhanced.css" />
		<![endif]-->
    <meta name="description" content="Generating crowdsourced open data, live results and data visualisations for the Northern Ireland Assembly Elections 2017." />
    <meta name="keywords" content="assembly, elections, open data, northern ireland, 2016, 2017, AE16, AE17, crowdsource, results, single transferable vote, stv, constituency, candidate, odi belfast, open government network, nicva, voting, #AE17, tally, count, electoral"
    />
    <meta name="author" content="Bob Harper">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 month">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@electionsni" />
    <meta name="twitter:creator" content="@odibelfast" />
    <meta property="og:url" content="http://electionsni.org" />
    <meta property="og:title" content="Elections NI #AE17" />
    <meta property="og:description" content="Generating crowdsourced open data, live results and data visualisations for the Northern Ireland Assembly Elections 2017." />
    <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/electionsni.org/website/image/banner.png" />
    <!-- data, elections, ni -->

</head>
<style>

</style>

<body>
    <div id="app">
        <header>
            <h1><a href = "/">Elections NI</a></h1>
            <p>Open data for the Assembly Elections #AE17</p>
        </header>
        <label for="show-menu" class="show-menu">Menu</label>
        <input type="checkbox" id="show-menu" role="button">
        <div id='cssmenu'>
            <ul>
                <li><a href='/constituencies'><span>Constituencies</span></a></li>
                <li><a href='/results'><span>Results</span></a></li>
                <li>
                    <router-link to='/candidates'><span>Candidates</span></router-link>
                </li>
                <li><a href='/data'><span>Data</span></a></li>
                <li class='last'><a href='/about'><span>About</span></a></li>
            </ul>
        </div>
        <div class="cta">
            <strong>2017 Candidates data has not been finalised. You can contribute by using the <a href="https://democracyclub.org.uk/blog/2017/01/17/help-us-find-every-candidate-new-northern-ireland-assembly/" target="_blank">Democracy Club platform</a></strong>
        </div>

        <div class="container">
            <router-view class="view"></router-view>
        </div>

        <div id="footer">
            Project by <a href="http://belfast.theodi.org">ODI Belfast</a> at <a href="http://www.nicva.org">NICVA</a> and the <a href="http://www.opengovernment.org.uk/about/ni-ogn/">Open Government Network NI</a></br>
            <a href="http://www.nicva.org"><img src="/website/image/nicva500.png" height="75px" align="middle"></a>
            <a href="http://belfast.theodi.org"><img src="/website/image/odibelfast500.png" height="75px" align="middle"></a>
            <a href="http://www.opengovernment.org.uk/about/ni-ogn/"><img src="/website/image/ognni500.png" height="75px" align="middle"></a>
        </div>
    </div>

    <template id="home-page-template">
          <div>
            <div class="jumbotron">
                    <h1>Welcome</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><router-link class="btn btn-lg btn-success" role="button" :to="{ name: 'candidates', params: { year: '2017' }}">Assembly Election 2017</router-link></p>
                  </div>
            </div>
        </template>

    <template id="all-candidates-page">
      <div>
      <div v-if="confirmed" class="alert alert-warning" role="alert"><p class="alert-text"><strong>Unconfirmed!</strong> Some of the candidates below may have been officially nominated, others may not yet have done so. Therefore, these are "unconfirmed candidates" until we have finalised nominations from the Electoral Office.</p></div>
        <h2>Candidates (2017)</h2>
          <candidate-list />
        </div>
        </template>


    <template id="candidate-list">
      <div>
        <!-- <ul class="row">
          <a v-for="constituency in constituencies" v-if="constituency.Constituency_Number" class="col-md-4" :href="'#constituency-' + constituency.Constituency_Number">{{ constituency.Constituency_Name }}</a>
        </ul>
        <div class="row"> -->
        <div class="col-md-8">
          <template v-for="constituency in constituencies">
            <h3 :id="'constituency-' + constituency.Constituency_Number">{{ constituency.Constituency_Name }}</h3>
          <template v-for="candidate in candidates" v-if="candidate.Constituency_Number == constituency.Constituency_Number && candidate.Candidate_id">
          <router-link :to="{name: 'candidate', params: { id: candidate.Candidate_id }}" class="list-group-item">
            <h4 class="list-group-item-heading">
              <i class="glyphicon glyphicon-user"></i>
              {{ candidate.Firstname }} {{ candidate.Surname}}
              <span class="label label-success" v-if="elected.includes(parseInt(candidate.Candidate_id))">elected</span>
              <span class="label label-danger" v-if="excluded.includes(parseInt(candidate.Candidate_id))">excluded</span>
              <span class="label label-default pull-right">{{ candidate.Party_Name }}</span>
            </h4>
          </router-link>
        </template>
        </template>
        </ul>
      </div>
          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              <h3>Help collect data with Democracy Club</h3>
              <p>Democracy Club help us collect up to date and accurate candidate information. If you know about more candidates, you can add them to the list and they'll become available here too.</p>
              <a class="btn btn-primary" role="button" href="https://candidates.democracyclub.org.uk/election/nia.2017-03-02/constituencies" target="_blank">Contribute</a>
            </div>
          </div>
      </div>
    </div>
    </template>


    <template id="candidate-page">
        <div>
          <ul class="breadcrumb"><li><router-link to="/">Home</router-link></li><li><router-link :to="{ name: 'candidates', params: { year: '2017' }}">Candidates</router-link></li><li class="active">{{ candidate.Surname }}</li></ul>
          <h2>{{ candidate.Firstname }} {{ candidate.Surname }}</h2>
          <h3>Standing for election in <strong>{{ candidate.Constituency_Name }}</strong></h3>
          <h3><i class="fa fa-users" aria-hidden="true"></i> {{ candidate.Party_Name }}</h3>
          <h5 v-if="candidate.Twitter">Twitter: <a target="_blank" :href="'http://twitter.com/' + candidate.Twitter">{{ candidate.Twitter }}</a></h5>
        </div>
      </template>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-77063537-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="index.js"></script>

</body>

</html>
