#overview_container {
    margin: 20px auto;
    overflow: auto;
    width: 1100px;
}

#overview_map {
    float: left;
    height: 425px;
    width: 550px;
    max-width: 50%;
    margin: 0 20px 20px 0;
    background: #fff;
}

#overview_matrix {
    float: left;
}

#tooltip {
    display: none;
    position: absolute;
    float: left;
    background-color: #444;
    padding: 10px;
    z-index: 1000;
    font-size: 80%;
    color: #fff;
    font-family: sans-serif;
    line-height: 16px;
}