#overview_container {
  margin: 20px auto;
/*  overflow: auto;*/
  width: 1100px;
}

#overview_map {
  float: left;
  height: 425px;
  width: 550px;
  max-width: 50%;
  margin: 0 20px 0 0;
  background: #fff;
}

#overview_matrix,
#party_matrix {
  float: left;
}

#party_matrix {
  width: 100%;
/*  border-top: 1px solid #ccc;*/
  position: relative;
  height: 380px;
  width: 800px;
  margin-left: 30px;
}

#overview_matrix {
  margin-bottom: 40px;
}

#overview_matrix:before {
    content: "Results by Constituency";
    margin-bottom: 10px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#party_matrix:before {
    content: "Results by Party";
    margin-bottom: 10px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#tooltip {
  display: none;
  position: absolute;
  float: left;
  background-color: #444;
  padding: 10px;
  z-index: 1000;
  font-size: 80%;
  color: #fff;
  font-family: sans-serif;
  line-height: 16px;
}

#overview_matrix .constituency,
#party_matrix .party {
  height: 22px;
}

#party_matrix .party {
  position: absolute;
}

#overview_matrix .name,
#party_matrix .name {
  font-size: 12px;
  color: black;
  text-align: right;
  width: 170px;
  line-height: 20px;
  float: left;
  margin-right: 10px;
}

#party_matrix .name {
  width: 200px;  
}

#overview_matrix .results,
#party_matrix .results {
  /*  width: 100px;*/
  height: 10px;
  float: left;
}

#overview_matrix .results .result,
#party_matrix .results .result {
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 2px;
  margin-top: 4px;
}

#thirtySeats {
    height: 310px;
    border-left: 1px dashed black;
    display: block;
    position: absolute;
    left: 616px;
    top: 48px;
}

#thirtySeats:after {
content: "30 seats needed for petition of concern";
    bottom: 0px;
    position: absolute;
    width: 120px;
    font-size: 12px;
    color: #000;
    padding-left: 10px;
    
}